@font-face {
    font-family: "BB";
    src: url("Blackbird.ttf");
}

* {
    font-family: 'bb';
    text-transform: capitalize;
}

html {
    background-color: khaki;
}

.gameBox {
    position: relative;
    background-color: aqua;
    width: 40vw;
    height: 50vh;
    top: 25vh;
    left: 28vw;
}

.title {
    text-align: center;
    background-color: black;
    color: burlywood;
    width: 40vw;
}

#display {
    text-align: center;
    color: chocolate;
    height: 10vh;
    word-wrap: break-word;
}

#answerBox {
    text-align: center;
}

#number {
    width: 10vw;
    border-radius: 5px;
}

#inp {
    color: black;
    background-color: lavender;
    font-size: 0.7em;
    border-radius: 5px;
    height: 3vh;
    width: 15vw;
}

#nameButton {
    border-radius: 5px;
    background-color: darkslateblue;
}

@media only screen and (max-width:400px) {
    #inp {
        color: black;
        background-color: lavender;
        font-size: 0.6em;
        height: 3vh;
        width: 20vw;
    }
    #name {
        font-size: 1em;
    }
    #numberDisplay {
        font-size: 1em;
    }
    #display {
        text-align: center;
        color: chocolate;
        height: 5vh;
        word-wrap: break-word;
    }
    .gameBox {
        position: relative;
        width: 80vw;
        height: 50vh;
        top: 20vh;
        left: 8vw;
    }
    .title {
        text-align: center;
        color: burlywood;
        width: 80vw;
        font-size: 0.7em;
    }
}

@media only screen and (max-width:1040px) {
    .gameBox {
        position: relative;
        background-color: aqua;
        width: 80vw;
        height: 50vh;
        top: 20vh;
        left: 9.7vw;
    }
    .title {
        text-align: center;
        color: burlywood;
        width: 80vw;
        font-size: 0.7em;
    }
    #number {
        width: 22vw;
    }
}